[submodule "uboot_bbxm/qemu-linaro"]
	path = uboot_bbxm/qemu-linaro
	url = https://git.linaro.org/qemu/qemu-linaro.git
[submodule "uboot_bbxm/u-boot-src"]
	path = uboot_bbxm/u-boot-src
	url = https://github.com/bx/u-boot-extended
[submodule "uboot_bbxm/openocd-patched"]
	path = uboot_bbxm/openocd-patched
	url = https://github.com/bx/openocd-patched
